@import './variables';
$padding-top-mobile: 2*$nav-height-mobile;
$padding-top: 2*$nav-height;
.content {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-content: flex-end;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: relative;
  padding-top: $padding-top;
  @media screen and (max-width: $mobile-max-width) {
    padding-top: $padding-top-mobile;
  }
  &__icon {
    padding-top: 10vh;
    color: $white;
  }
  &__main-text {
    @extend .title;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'DejaVu Sans';
    font-weight: 700;
    color: $white;
    text-shadow: 2px 2px 4px $black;
    width: 30vw;
    padding: 20px 0px;
    @media screen and (max-width: $mobile-max-width) {
      width: 60vw;
    }
  }
  &__separator {
    border:none;
    height: 5px;
    margin: 0px;
    background-color: $default-red;
    width: 25vw;
    margin-top: 20vh;
    @media screen and (max-width: $mobile-max-width) {
        margin-top: 5vh;
        width: 40vw;
    }
  }
  &__actions {
    &__live-box {
      display: flex;
      flex-wrap: wrap;
    }
    &__join-legend {
      margin-right: 10px;
      font-size: 12px;
      font-style: italic;
      display: block;
      color: $white;
      text-align: center;
      text-shadow: 1px 1px 2px $black;
    }
    &__live-image {
      height: 70px;
      display: inline;
      margin-right: 20px;
    }
    &__live-content {
      display: flex;
      flex-direction: column;
      &__title {
        @extend .is-uppercase;
        font-weight: 500;
        text-shadow: 1px 1px 2px $black;
        color: $default-red;
        font-family: 'DejaVu sans';
      }
      &__subtitle {
        color: $white;
        text-shadow: 1px 1px 2px $black;
        font-size: 0.8rem;
        font-family: 'DejaVu sans';
      }
    }

  }
}
