.footer {
  padding: 0px;
  background-color: $wwe-grey;
  position: relative;
  z-index: 2;
  overflow: hidden;
  p, strong {
    line-height: 18px;
    color: $white;
    font-family: 'DejaVu sans';
  }

  p {
    padding: 2vh 2vw;
  }

  &__container {
    padding: 1vh 15vw;
  }

  &__blur {
    background-color: $black;
    filter: blur(10px);
  }

  @media screen and (min-width: $mobile-max-width) {
    &__v-separator
    {
        content: "";
        display: inline-block;
        width: 0px;
        height: 70%;
        border-right: 1px solid #fafafa;
        border-left: 1px solid #b4b4b4;
        padding: 0;
    }
  }

  &__bg {
    background-image: url('../images/footer-bg.png');
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    //background-size: cover;
    height: 100%;
    background-position: center;
    //opacity: 0.3;
    filter: blur(80px);
  }


}
