@import './variables';
@import './overrides';
@import '../../node_modules/bulma/bulma.sass';
@import './fonts';
@import './buttons';
@import './nav';
@import './content';
@import './footer';

body, html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg {
    /* The image used */
    background-image: url('../images/background.png');

    /* Full height */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100vw;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-between;
  padding-top: 10vw;
  margin-top: $nav-height-mobile;
  @media screen and (min-width: $mobile-max-width) {
    margin-top: $nav-height;
  }
}

.vertical-divider{
	height: 80px;
  border: 1px solid $white;
  width: 0;
  background-color: $white;
  margin: 0px;
}
