@import './variables';

.navigation {
  @extend .level;
  background-color: #303030;
  padding: 2vh 10vw;
  margin: 0px !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: $nav-height-mobile;
  @media screen and (min-width: $mobile-max-width) {
    height: $nav-height;
  }
  &__left {
    @extend .level-left;
    &__image {
      height: 30px;
    }
  }
  &__right {
    @extend .level-right;
    &__text {
     font-weight: bold;
     font-size: 14px;
     padding-right: 10px;
    }
  }
}
