@import './variables';

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $black;
  padding: 10px 15vw;
  position: fixed;
  top: 0px;
  width: 100%;
  height: $nav-height;
  &__left {
    display: flex;
    align-items: center;
    &__image {
      height: 30px;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    &__text {
     font-weight: bold;
     font-size: 14px;
     padding-right: 10px;
    }
  }
}
